<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Recognition</title>
</head>
<body>
    <div>
        <form action="" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" id="q">
        </form>
        <!-- Display output data -->
        {% if result %}
        <div>
            <p>Result: {{result.prediction.class_name}}</p>
            <p>Inference time: {{result.inference_time}}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>